@use "../styles/variables.scss" as s;

@mixin link {
  font-size: 3vmin;
  font-family: Engravers Gothic BT;
  @include s.theme-color-black;

  @media only screen and (max-width: s.$max-width) {
    font-size: 6vmin;
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vh 0;
  border-bottom: s.$theme-green solid 0.5vh;

  &__link {
    @include link;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: s.$theme-red;
      text-shadow: 1vmin;
    }
  }

  &__link_active {
    @include link;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  @media only screen and (max-width: s.$max-width) {
    flex-direction: column;
  }
}
