@use "../../styles/variables.scss" as s;

@mixin link {
  font-size: 3vmin;
  font-family: Engravers Gothic BT;
  @include s.theme-color-black;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vh 0;
  border-bottom: s.$theme-green solid 0.5vh;
  z-index: 100;
  backdrop-filter: blur(6px);
  box-sizing: border-box;

  &__link {
    @include link;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
      text-shadow: 1vmin;
    }
  }

  &__link_active {
    @include link;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
}
