@use "../../../styles/variables.scss" as s;

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rsvp {
  width: 100%;
  @include s.vertical-center-content;
}

.feedback {
  &__success {
    color: darken(s.$theme-green, 30%);
  }
  &__error {
    color: darken(s.$theme-red, 30%);
  }
}
