@use "../../styles/variables.scss" as s;

.input_number {
  display: block;
  font-size: 2.5vmin;

  input {
    border: none;
    background-color: transparent;
    border-bottom: solid s.$theme-shadow 1px;
    padding: 1vmin;
    font-size: 2vmin;
    width: 4vmin;
    text-align: center;
    margin: 0;

    &:focus {
      outline: none;
    }

    @media only screen and (max-width: s.$max-width) {
      font-size: 5vmin;
    }
  }

  @media only screen and (max-width: s.$max-width) {
    width: 100%;
    font-size: 5vmin;
    padding: 2vmin;
  }
}
