@use "../../styles/variables.scss" as s;

.input_submit {
  display: block;
  border: none;
  padding: 1vmin;
  font-size: 2vmin;
  background-color: s.$theme-green;
  border-radius: 1vmin;
  box-shadow: 0 0.5vmin 1vmin s.$theme-shadow;

  &:active {
    box-shadow: 0 0 1vmin s.$theme-shadow;
  }

  @media only screen and (max-width: s.$max-width) {
    width: 100%;
    font-size: 5vmin;
    padding: 2vmin;
    box-shadow: 0 1vmin 2vmin s.$theme-shadow;
  }
}
