@use "../../../styles/variables.scss" as s;

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 70%;
  display: grid;
  grid-template-areas: "text photo";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  gap: 5vmin;
  box-sizing: border-box;
  padding: 2vmin;
  justify-items: start;

  &__text {
    grid-area: text;
    font-family: Handlee-Regular;
    font-size: 2.5vmin;

    p {
      margin-top: 0;
    }

    @media only screen and (max-width: s.$max-width) {
      font-size: 4vmin;
    }
  }

  &__photo {
    grid-area: photo;
    &__img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: s.$max-width) {
    width: 90%;
    grid-template-areas: "photo" "text";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}
