@use "../../../styles/variables.scss" as s;

.home {
  height: 100%;
  @include s.center-content;

  &__img {
    width: 60vmin;
    height: 60vmin;
    background-image: url("../../../public/flower.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    @include s.center-content;

    @media only screen and (max-width: s.$max-width) {
      width: 60vmin;
      height: 60vmin;
    }
  }

  &__title {
    font-family: Edwardian Script ITC;
    color: theme-grey;
    text-align: center;

    @media only screen and (max-width: s.$max-width) {
      font-size: 10vmin;
    }
  }

  &__names {
    line-height: 0.8;
    font-size: 12vmin;
    margin: 10vmin 0 0;
  }

  &__date {
    margin-top: 5vmin;
    font-size: 4vmin;
  }
}
