@use "./variables.scss" as s;

html,
body {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 10% 1fr 5%;
  @include s.theme-background-white;
  @include s.theme-color-black;

  main {
    grid-area: main;
    padding: 5vmin;
    box-sizing: border-box;
    width: 100%;
    @include s.vertical-center-content;

    h1 {
      font-family: Engravers Gothic BT;
    }
  }

  @media only screen and (max-width: s.$max-width) {
    grid-template-rows: 20% 1fr 5%;
  }
}

@font-face {
  font-family: Edwardian Script ITC;
  src: url("../public/Edwardian Script ITC.TTF");
}

@font-face {
  font-family: Engravers Gothic BT;
  src: url("../public/EngraversGothicBT.ttf");
}
