@use "../../../styles/variables.scss" as s;

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift {
  width: 100%;
  @include s.vertical-center-content;

  &__description {
    width: 40%;
    text-align: center;
    margin: 1vmin 0;
    font-family: Engravers Gothic BT;
    font-size: 2.5vmin;

    @media only screen and (max-width: s.$max-width) {
      width: 90%;
    }
  }

  &__content {
    width: 60%;
    display: grid;
    grid-template-areas:
      "p_t l_t"
      "p_i l_i"
      "p_d l_d";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    margin-top: 7vmin;

    @media only screen and (max-width: s.$max-width) {
      width: 90%;
      grid-template-areas:
        "p_t"
        "p_i"
        "p_d"
        "space"
        "l_t"
        "l_i"
        "l_d";
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto 10vmin auto auto auto;
      justify-items: center;
      align-items: center;
    }
  }

  &__pix_title {
    grid-area: p_t;
  }

  &__pix_image {
    grid-area: p_i;
    width: 200px;
    height: 200px;
  }

  &__pix_alt {
    grid-area: p_d;
    font-family: Handlee-Regular;
    text-decoration: none;
    color: s.$theme-black;
  }

  &__list_title {
    grid-area: l_t;
  }

  &__list_image {
    grid-area: l_i;
    width: 200px;
    height: 200px;
  }

  &__list_alt {
    grid-area: l_d;
    font-family: Handlee-Regular;
    text-decoration: none;
    color: s.$theme-black;

    &:visited,
    &:active,
    &:enabled {
      color: s.$theme-black;
    }
  }
}
